.login-form form label,
.login-form form input {
  display: block;
}

.login-form {
  width: 400px;
  height: 320px;
  /* background-color: tomato; */
}

.login-error-container {
  min-width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: teal; */
}

.login-form form label {
  font-size: 1.4rem;
  margin: 20px;
}
