.post-card {
  position: relative;
  min-width: 580px;
  /* min-height: 604px; */

  max-width: 500px;
  /* height: 650px; */

  background-color: rgb(228, 228, 228);
  border: 1px solid rgba(66, 66, 66, 0.397);
  box-shadow: 0 0 20px rgba(61, 61, 61, 0.623);
  border-radius: 10px;

  margin: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-info-container {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(105, 105, 105, 0.171);

  display: flex;
  justify-content: start;
}

.poster-info {
  width: 200px;
  height: 50px;

  margin: 5px 0 0 20px;

  display: flex;
}

.poster-pic {
  width: 40px;
  height: 40px;

  border-radius: 50px;
  border: 1px solid rgb(85, 85, 85);

  overflow: hidden;

  background-position: center;
  background-size: cover;
}

.poster-name {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 10px 10px;

  font-weight: bolder;
}

.posted-time {
  position: absolute;
  top: 10px;
  right: 20px;

  color: rgb(88, 88, 88);
}

.post-img {
  width: 100%;
  height: 80%;
  overflow: hidden;

  /* margin-top: 30px; */
  /* background-color: blue; */
}

.post-img img {
  width: 100%;
  /* height: 10%; */

  object-fit: contain;
}
