#post-container {
  width: 50%;
  height: 100%;
  background-color: rgb(77, 40, 211);

  display: flex;
  flex-direction: column;
  align-items: center;
  /* 
  position: fixed;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden; */
}

#post-container::-webkit-scrollbar {
  display: none;
}
