.forgot-password-form {
  width: 400px;
  height: 300px;
  /* background-color: rgb(226, 111, 140); */

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.headind-reset {
  font-size: 2rem;
  text-align: center;
}

.forgot-password-form label {
  display: block;
  font-size: 1.4rem;
  margin: 20px;
}
